[submodule "extern/mqt-core"]
	path = extern/mqt-core
	url = https://github.com/canhminhdo/mqt-core.git
	branch = main
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/exact-dd"]
	path = extern/exact-dd
	url = https://github.com/canhminhdo/exact-dd.git
