[submodule "extern/mqt-core"]
	path = extern/mqt-core
	url = https://github.com/canhminhdo/mqt-core.git
	branch = main
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
